<div class="container">
    <h1>Test Reactive Forms App</h1>
    <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
        <label for="email">
            Email: 
        </label>
        <input type="email" [formControl]="email">
        <div class="errors" *ngIf="email.errors && email.dirty">
            <span>
                Email is required
            </span>
        </div>

        <label for="password">
            Password: 
        </label>
        <input type="password" [formControl]="password">
        <div class="errors" *ngIf="password.errors && password.dirty">
            <span>
                Password is required
            </span>
        </div>

        <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
</div>
